<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
</head>
<style>
    .bbs-div-kcy {
        justify-content: center;
    }

    .bbs-div-kcy > * {
        width: 80%;
    }

    .header img {
        display: none;
    }

    h1 {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }

    ul li {
        list-style: none;
    }
</style>
<body>
    <div th:utext="${content}" style="width: 100%"></div>
</body>
</html>
